*{
	box-sizing: border-box;
  	margin: 0;
  	padding: 0;
}

body{
	background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(194, 229,
156), rgb(100, 179, 244)) repeat scroll 0% 0%;

}

.table{
	background-color: #ffffff;
	box-shadow:1px 1px 4px 10px;
	margin:5px 5px;
}
.anadir{
	border-radius: 5px 5px;
	box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
	padding: 12px;
	font-weight: bold;
	color: white;
}

.anadir:hover{
	background-color: #F9F9F9;
}

.anadir i:hover{
	color: white;
}

.btn:hover{
	color: #191818;
}

.btn-warning{
	color: #ffffff;
}

.boton{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 20px 0;
}

.insert_list{
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style-type: none;
}

.insert_list li{
	margin: 10px 0;
}

.form-list{
	margin: 0 auto;
}

/*ESTILO PARA CRITICAS*/
.criticas{
	padding: 35px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.title-peli{
	font-style: italic;
	padding: 15px;
}

.criticas h4{
	text-decoration: underline;
}

.img-critica{
	width: 120px;
	height: 135px;
}

.carta-critica{
	width: 300px;	
	box-shadow:1px 1px 4px 10px;
	padding: 10px 10px;
	margin: 16px 0px;
}

/*Estilos insertar pelicula*/
.form-insert{
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style-type: none;
}

.form-insert li input[type="number"]{
	width: 40%;	
}

.back{
	float: right;
	padding: 40px 80px;
}

